* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;

}

.logo h1 a{
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #080808;

}

.body h1 {
    color: #080808;
}

body {
    background: #ffffff;
    color: #080808;
}

#header {
    width: 100%;
    height: 90vh;
    background-image: url("/img/footballHeader.jpg");
    background-size: cover;
    background-position: left;
}


.container {
    padding: 3px 3%;
}

.side-content {
    display: flex;
    align-items: center;
}

.side-content .login,
.side-content .signup {
    margin-right: 20px;
}

.navbar {
    background: white;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    width: 90%;
    padding: 0px 100px;
    box-sizing: border-box;
    position: fixed;
    border-radius: 9px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.5s ease;

}

.transparent {
    background: rgba(255, 255, 255, 0.25);
}

.navbar-list ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;

}

.navbar-list ul li {
    margin-right: 50px;
}

.navbar-list ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #080808;
    display: block;
    font-weight: bold;
    transition: .4s ease;
    position: relative;

}

.navbar-list ul li a:hover {

    transform: translateY(-5px);
}

.navbar-list ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position: relative;
}


.navbar-list ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #FBA834;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}

.navbar-list ul li a.active::after {
    width: 100%;
}


.navbar-list ul a #loginButton::after {
    content: '';
    width: 0;
    height: 3px;
    background: #FBA834;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.navbar-list ul li a:hover::after {
    width: 100%;
}

.navbar-list ul a #loginButton {
    background: #FBA834;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 9px;
    cursor: pointer;
    transition: .4s ease;   
    height: 40px;
    margin-bottom: 20px;
    
}

.navbar-list ul a #loginButton:hover {
    transform: translateY(-7px);
}


.scroll {
    background: none;
    top: -100px;
    border-radius: 20px;
    width: 90%;
    animation: fadedown .4s ease 1s forwards;
}


.header-text {
    margin-top: 10%;
    font-size: 30px;
    padding-left: 10%;
}

.header-text p {
    color: #ffffff;
}

.header-text h1 {
    margin-top: 20px;
    font-size: 60px;
    color: #ffffff;
}

.header-text h1 span {
    color: #FBA834;
}

#Lapangan1 {
    padding-top: 30px;
    text-align: center;
    height: max-content;
}

#Lapangan1 p {
    font-weight: bold;
    font-size: larger;
}


#Lapangan1 .pro-container {
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    flex-wrap: wrap;
    align-items: stretch ;
    margin-left: 90px;
}

#Lapangan1 .pro {
    display: flex;
    flex-direction: column;
    width: calc(23% - 10px);
    min-width: 250px;
    padding: 15px 15px;
    border: 1px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.02);
    margin: 15px 5px;
    transition: 0.2s ease;
    position: relative;
    text-decoration: none;
    align-items: flex-start;
}



#Lapangan1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}


#Lapangan1 .pro img {
    width: 100%;
    height: 150px;
    border-radius: 5px;

}


#Lapangan1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#Lapangan1 .pro .des span {
    color: #060603;
    font-size: 15px;
    text-decoration: none;

}

#Lapangan1 .pro .des h5 {
    color: #1a1a1a;
    font-size: 20px;
}

#Lapangan1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#Lapangan1 .pro .des h4 {
    font-size: 15px;
    font-weight: 700;
    color: black;
}

.no-post-found{
    justify-content: center;
    align-items: center;
}

/* contact */

#contact{
    background-color: #FBA834;
}

.contact-left{
    flex-basis: 35%;
}

.contact-left p {
    padding: 5px;
}

.contact-left p a{
    margin-top: 3px;
    color: #ffffff;
    margin-left: 5px;
    text-decoration: none;
}

.contact-left p i {
    color: #ffffff;
}

.sub-title{
    padding: 5px;
    color: #ffffff;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a{
    text-decoration:none;
    color: #FBA834;
    font-size: 14px;
    font-weight: bold;
    transition: .4s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.05);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content.transparent {
    background-color: rgba(255, 255, 255, 0.25);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logout-button {
    text-decoration: none;
    color: #FBA834;
    font-size: 14px;
    font-weight: bold;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.logout-button:hover {
    color: rgba(255, 255, 255, 0.9);
}

.logout-button:hover {
    background-color: #FBA834;
}

/* search bar */

.search-comp{
    display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
}

.search{
    margin-top: 25px;
    max-width: max-content;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 15px;
    background: #f9f9f9;
    transition: box-shadow 0.25s;
}

.search:focus-within{
    box-shadow: 0 0 2px #060603;
}

.search-input{
    font-size: 16px;
    font-family: 'Poppins';
    color: #080808;
    outline: none;
    border: none;
    background: transparent;
    width: 500px;
    height: 20px;
}

.search-button{
    margin: auto;
    width: max-content;
    border-radius: 13px;

}




/* districts */

.districts {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: max-content;
    min-height: 70vh;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;

}

.districts h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.districts h1 span{
    color: #FBA834;
}

.districts ul {
    padding: 0;
    margin-left: 20px;
}

.districts ul li {
    margin-bottom: 10px;
}

.districts ul li h2 a {
    text-decoration: none;
    color: #FBA834;
    font-size: 18px;
    transition: color 0.3s ease;
}

.districts ul li h2 a:hover {
    color: #0056b3;
}